extends layoutHeader

block content
  .fh5co-loader
  #page
    nav.fh5co-nav(role='navigation')
      .container
        .row
          .col-xs-2.text-left
            #fh5co-logo
              a(href='index')
                | Concept
                span .
          .col-xs-10.text-right.menu-1
            ul
              li
                a(href='index') Home
              li.has-dropdown
                a(href='services') Services
                ul.dropdown
                  li
                    a(href='#') Web Design
                  li
                    a(href='#') eCommerce
                  li
                    a(href='#') Branding
                  li
                    a(href='#') API
              li.active
                a(href='products') Products
              li
                a(href='about') About
              li
                a(href='blog') Blog
              li
                a(href='contact') Contact
    header#fh5co-header.fh5co-cover.fh5co-cover-sm(role='banner', style='background-image:url(images/img_bg_1.jpg);', data-stellar-background-ratio='0.5')
      .overlay
      .container
        .row
          .col-md-7.text-left
            .display-t
              .display-tc.animate-box(data-animate-effect='fadeInUp')
                h1.mb30 Our Creative Products
    #fh5co-project
      .container
        .row.row-pb-md
          .col-md-8.col-md-offset-2.text-left.fh5co-heading.animate-box
            span Want Some Cool Stuff
            h2 Recent Products
            p
              | Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
        .row
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-1.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Clipboard Office
                p Web Design
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-2.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Smart Layers
                p Brand & Identity
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-3.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Notepad Mockup
                p Illustration
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-4.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Outline Ribbon
                p Web Design
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-5.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Food Icons Set
                p Brand & Identity
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-6.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Business Card
                p Illustration
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-1.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Clipboard Office
                p Web Design
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-2.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Smart Layers
                p Brand & Identity
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-3.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Notepad Mockup
                p Illustration
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-4.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Outline Ribbon
                p Web Design
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-5.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Food Icons Set
                p Brand & Identity
          .col-md-4.col-sm-6.fh5co-project.animate-box(data-animate-effect='fadeIn')
            a(href='#')
              img.img-responsive(src='concept/images/work-6.jpg', alt='Free HTML5 Website Template by gettemplates.co')
              .fh5co-copy
                h3 Business Card
                p Illustration
          .col-md-12.text-center
            nav(aria-label='Page navigation')
              ul.pagination
                li
                  a(href='#', aria-label='Previous')
                    span(aria-hidden='true') «
                li.active
                  a(href='#') 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#', aria-label='Next')
                    span(aria-hidden='true') »
    