extends layoutHeader

block content
  .fh5co-loader
  #page
    nav.fh5co-nav(role='navigation')
      .container
        .row
          .col-xs-2.text-left
            #fh5co-logo
              a(href='')
                | Concept
                span .
          .col-xs-10.text-right.menu-1
            ul
              li
                a(href='') Home
              li.has-dropdown
                a(href='services') Services
                ul.dropdown
                  li
                    a(href='#') Web Design
                  li
                    a(href='#') eCommerce
                  li
                    a(href='#') Branding
                  li
                    a(href='#') API
              li
                a(href='products') Products
              li.active
                a(href='about') About
              li
                a(href='blog') Blog
              li
                a(href='contact') Contact
    header#fh5co-header.fh5co-cover.fh5co-cover-sm(role='banner', style='background-image:url(images/img_bg_1.jpg);', data-stellar-background-ratio='0.5')
      .overlay
      .container
        .row
          .col-md-7.text-left
            .display-t
              .display-tc.animate-box(data-animate-effect='fadeInUp')
                h1.mb30 About Us
    #fh5co-team
      .container
        .row.animate-box.row-pb-md
          .col-md-8.col-md-offset-2.text-left.fh5co-heading
            span Productive Staff
            h2 Meet Our Staff
            p
              | Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
        .row
          .col-md-4.col-sm-4.animate-box(data-animate-effect='fadeIn')
            .fh5co-staff
              img(src='concept/images/person1.jpg', alt='Free HTML5 Templates by gettemplates.co')
              h3 Jean Smith
              strong.role Web Designer
              p
                | Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.
              ul.fh5co-social-icons
                li
                  a(href='#')
                    i.icon-facebook
                li
                  a(href='#')
                    i.icon-twitter
                li
                  a(href='#')
                    i.icon-dribbble
                li
                  a(href='#')
                    i.icon-github
          .col-md-4.col-sm-4.animate-box(data-animate-effect='fadeIn')
            .fh5co-staff
              img(src='concept/images/person2.jpg', alt='Free HTML5 Templates by gettemplates.co')
              h3 Hush Raven
              strong.role Front-end Developer
              p
                | Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.
              ul.fh5co-social-icons
                li
                  a(href='#')
                    i.icon-facebook
                li
                  a(href='#')
                    i.icon-twitter
                li
                  a(href='#')
                    i.icon-dribbble
                li
                  a(href='#')
                    i.icon-github
          .col-md-4.col-sm-4.animate-box(data-animate-effect='fadeIn')
            .fh5co-staff
              img(src='concept/images/person3.jpg', alt='Free HTML5 Templates by gettemplates.co')
              h3 Alex King
              strong.role Back-end Developer
              p
                | Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.
              ul.fh5co-social-icons
                li
                  a(href='#')
                    i.icon-facebook
                li
                  a(href='#')
                    i.icon-twitter
                li
                  a(href='#')
                    i.icon-dribbble
                li
                  a(href='#')
                    i.icon-github
    #fh5co-testimonial.fh5co-bg-section
      .container
        .row.animate-box.row-pb-md
          .col-md-8.col-md-offset-2.text-left.fh5co-heading
            span You deserved happiness
            h2 Happy Clients
            p
              | Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
        .row
          .col-md-6.animate-box
            .testimonial
              blockquote
                p
                  | “Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.”
                p.author
                  img(src='concept/images/person1.jpg', alt='Free HTML5 Bootstrap Template by gettemplates.co')
                  cite — Mike Adam
            .testimonial.fh5co-selected
              blockquote
                p
                  | “Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.”
                p.author
                  img(src='concept/images/person2.jpg', alt='Free HTML5 Bootstrap Template by gettemplates.co')
                  cite — Eric Miller
          .col-md-6.animate-box
            .testimonial.fh5co-selected
              blockquote
                p
                  | “Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.”
                p.author
                  img(src='concept/images/person3.jpg', alt='Free HTML5 Bootstrap Template by gettemplates.co')
                  cite — Eric Miller
            .testimonial
              blockquote
                p
                  | “Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.”
                p.author
                  img(src='concept/images/person1.jpg', alt='Free HTML5 Bootstrap Template by gettemplates.co')
                  cite — Mike Adam
    