extends layoutHeader

block content
    .fh5co-loader
    #page
      nav.fh5co-nav(role='navigation')
        .container
          .row
            .col-xs-2.text-left
              #fh5co-logo
                a(href='index')
                  | Concept
                  span .
            .col-xs-10.text-right.menu-1
              ul
                li
                  a(href='index') Home
                li.has-dropdown.active
                  a(href='services') Services
                  ul.dropdown
                    li
                      a(href='#') Web Design
                    li
                      a(href='#') eCommerce
                    li
                      a(href='#') Branding
                    li
                      a(href='#') API
                li
                  a(href='products') Products
                li
                  a(href='about') About
                li
                  a(href='blog') Blog
                li
                  a(href='contact') Contact
      header#fh5co-header.fh5co-cover.fh5co-cover-sm(role='banner', style='background-image:url(images/img_bg_1.jpg);', data-stellar-background-ratio='0.5')
        .overlay
        .container
          .row
            .col-md-7.text-left
              .display-t
                .display-tc.animate-box(data-animate-effect='fadeInUp')
                  h1.mb30 Our Services
      #fh5co-services
        .container
          .row.row-pb-md
            .col-md-8.col-md-offset-2.text-left.animate-box(data-animate-effect='fadeInUp')
              .fh5co-heading
                span We're expert
                h2 What We Do
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .row
            .col-md-4.col-sm-6
              .feature-center.animate-box(data-animate-effect='fadeInUp')
                span.icon
                  i.icon-eye
                h3 Retina Ready
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn more
            .col-md-4.col-sm-6
              .feature-center.animate-box(data-animate-effect='fadeInUp')
                span.icon
                  i.icon-command
                h3 Fully Responsive
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn more
            .clearfix.visible-sm-block
            .col-md-4.col-sm-6
              .feature-center.animate-box(data-animate-effect='fadeInUp')
                span.icon
                  i.icon-power
                h3 Web Starter
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn more
            .clearfix.visible-md-block
            .col-md-4.col-sm-6
              .feature-center.animate-box(data-animate-effect='fadeInUp')
                span.icon
                  i.icon-eye
                h3 Retina Ready
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn more
            .clearfix.visible-sm-block
            .col-md-4.col-sm-6
              .feature-center.animate-box(data-animate-effect='fadeInUp')
                span.icon
                  i.icon-command
                h3 Fully Responsive
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn more
            .col-md-4.col-sm-6
              .feature-center.animate-box(data-animate-effect='fadeInUp')
                span.icon
                  i.icon-power
                h3 Web Starter
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn more
            .clearfix.visible-md-block
