doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Full Slider - Start Bootstrap Template
  // Bootstrap core CSS
  link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom styles for this template
  link(href='/stylesheets/full-slider.css' rel='stylesheet')
// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href='#') Start Bootstrap
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') About
        li.nav-item
          a.nav-link(href='#') Services
        li.nav-item
          a.nav-link(href='#') Contact
header
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
      li(data-target='#carouselExampleIndicators' data-slide-to='1')
      li(data-target='#carouselExampleIndicators' data-slide-to='2')
    .carousel-inner(role='listbox')
      // Slide One - Set the background image for this slide in the line below
      .carousel-item.active(style="background-image: url('http://placehold.it/1900x1080')")
        .carousel-caption.d-none.d-md-block
          h3 First Slide
          p This is a description for the first slide.
      // Slide Two - Set the background image for this slide in the line below
      .carousel-item(style="background-image: url('http://placehold.it/1900x1080')")
        .carousel-caption.d-none.d-md-block
          h3 Second Slide
          p This is a description for the second slide.
      // Slide Three - Set the background image for this slide in the line below
      .carousel-item(style="background-image: url('http://placehold.it/1900x1080')")
        .carousel-caption.d-none.d-md-block
          h3 Third Slide
          p This is a description for the third slide.
    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
// Page Content
section.py-5
  .container
    h1 Full Slider by Start Bootstrap
    p
      | The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the
      code full-slider.css
      |           file.
// Footer
footer.py-5.bg-dark
  .container
    p.m-0.text-center.text-white Copyright &copy; Your Website 2018
  // /.container
// Bootstrap core JavaScript
script(src='/jquery/jquery.min.js')
script(src='/bootstrap/js/bootstrap.bundle.min.js')
